div {
    padding-top: 20px;
    text-align: center;

}

h1 {
    font-size: 85px;
    font-family: Impact;
}

p {
    font-size: 30px;
}

button {
    background-color: blue;
    color: white;
    width: 250px;
    height: 80px;
}

button:hover {
    background-color: green;
}